@import url('ColorPalette.css');
.container {
    display: flex;
    width: 100%;
    height: 100%;
}

.content {
    flex-grow: 1;
    padding: 20px;
    height: 100vh;
    overflow-y: auto;
    transition: margin-left 0.3s ease, width 0.3s ease; 
    margin-left: 70px; 
}

.main:hover ~ .content {
    margin-left: 200px; 
    width: calc(100% - 200px); 
}

.admin-title {
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 10px;
    text-align: left; 
}

.admin-subtitle {
    font-size: 24px;
    margin-bottom: 20px;
    text-align: left; 
    color: var(--lbrown1);
}

.add-button {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 40px;
    height: 40px;
    cursor: pointer;
}

.user-profiles {
    display: flex;
    flex-direction: column;
    gap: 10px; 
}

.user-profile {
    display: flex;
    align-items: center;
    background-color: var(--lbrown2);
    padding: 10px;
    border-radius: 8px;
    margin-left: 0; 
}

.user-icon {
    width: 50px;
    height: 50px;
    background-color: var(--lbrown1);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    font-weight: bold;
    color: white;
    margin-right: 10px;
    overflow: hidden;
}

.user-icon-img {
    width: 100%;
    height: 100%;
    object-fit: cover; 
}

.recipe-details {
    flex-grow: 1;
    text-align: left; 
}

.recipe-details p {
    margin: 0;
    color: var(--dbrown1);
}

.actions {
    display: flex;
    gap: 10px;
}

.approve, .reject {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    cursor: pointer;
}

.approve {
    background-color: green;
}

.reject {
    background-color: red;
}

.view-details-container {
    background-color: #F9F4EF; 
    padding: 10px;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: box-shadow 0.3s ease; 
}

.view-details-container:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
}

.view-details-button {
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
    width: 50px; 
    height: 50px; 
    transition: transform 0.3s ease; 
}

.view-details-button:hover {
    transform: scale(1.1); 
}

.view-details-icon {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


