@import url(ColorPalette.css);

.login-body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: var(--white1);
}

.login-main {
    height: 450px;
    width: 480px;
    background-color: var(--lbrown1);
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.login-main-header {
    width: 100%;
    height: 130px;
    background-color: var(--lbrown2);
    display: flex;
    align-items: center;
}

.login-main-header h1 {
    margin-top: 18px;
    margin-left: 38px;
    font-size: 38px;
    font-family: "Lora", serif;
    color: var(--dbrown1);
}

.login-main .banner-image {
    height: 220px;
    width: 100%;
    overflow: hidden;
}

.banner-image img {
    width: 100%;
    object-fit: cover;
    filter: blur(1px);
}

.login-boxes {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 38px;
    gap: 16px;
}
.login-boxes input {
    width: 320px;
    height: 40px;
    border-radius: 4px;
    background-color: var(--white1);
    border: none;
    font-family: 'Radio Canada Big', serif;
    padding: 8px;
}

.login-option {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 18px;
    width: 100%;
}

.login-button {
    margin-top: 38px;
    width: 110px;
    height: 40px;
    border-radius: 50px;
    border: 3px solid var(--dbrown1);
    color: var(--white1);
    background-color: var(--dbrown1);
    visibility: visible;
    position: relative;
    font-size: 15px;
    transition: 0.3s;
    font-family: "Radio Canada Big", serif;
}

.login-button:hover {
    background-color: var(--lbrown1);
}

.error-message {
    margin-top: 28px;
    font-weight: 800;
    color: #a22725;
    width: 100%;
    font-family: "Lora", serif;
    text-align: center
}